<!DOCTYPE html>
<html>
<head>
    <title>My Database Website</title>
</head>
<body>
    <h1>Users table is running List</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>

   <h1> db conn tion succes table is running List</h1>
        <h1> db conn  and table is creatrist</h1>
    </table>
<h2>User Registration</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Enter Name" required><br><br>
        <input type="email" name="email" placeholder="Enter Email" required><br><br>
        <input type="password" name="password" placeholder="Enter Password" required><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
